:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 25vh;
}

.footer-container p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #BDBDBD;
}

.header-container{
  display: flex;
  justify-content: left;
  margin-top: 40px;
  margin-left: 77px;
  width: auto;
  margin-bottom: 10vh;
}
.header-container h3 {
  font-family: Inconsolata;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
}

.main-container img {
  width: 539.22px;
  top: 265px;
  left: 77px;
}

.main-container h1 {
  font-family: Space Mono;
  font-size: 64px;
  font-weight: 700;
  line-height: 95px;
  letter-spacing: -0.035em;
  text-align: left;
  width: 586px;
}

.main-container p {
  font-family: Space Mono;
  font-size: 24px;
  font-weight: 100;
  line-height: 36px;
  letter-spacing: -0.035em;
  text-align: left;
  width: 381px;
  height: 108px;
  top: 491px;
  left: 736px;
  color: #4F4F4F;
}

.main-container button {
  width: 216px;
  height: 68px;
  margin-top: 10px;
  font-family: Space Mono;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.035em;
  background-color: #333333;
  color: #FFFFFF;
  border: none;
}


@media (max-width: 768px) {
  .header-container {
    margin-left: 14px;
    margin-top: 7px;
    margin-bottom: 6vh;
  }
  .main-container {
    gap: 24px;
  }
  .main-container button{
    margin-left: 24px;
    margin-top: 44px;
  }
  .main-container h1 {
    font-size: 48px;
    max-width: 586px;
    width: auto;
    line-height: 71.09px;
    padding: 0 24px;
  }

  .main-container img {
    width: 100%;
    height: auto;
    top: 109px;
    left: 44px;
  }

  .main-container p { 
    width: 100%;
    margin: 24px;
  }
}